<?php

//Set the name of the Global Address Book
$config['wdg_sql_name'] = 'Meow Address Book';

//Plugin Mode: (* is default).
// 0: Show Users from the same Domain, but also any in the Whitelist, Seperate Address Books. Does not respect Blacklist.
//    If Whitelisted == Current then Ignore. If you set the Whitelist to array('*') with this mode then it'll show all Domains.
// 1: Show Users from the same Domain, but also any in the Whitelist, no grouping. Does not respect Blacklist.
// 2: Show Users from the same Domain, but also any in the Whitelist, group by domain. Does not respect Blacklist.
// 3: Show All Users inside the Address Book with no Groups. Does not respect Whitelist. Respects Blacklist.
//*4: Show All Users inside the Address Book but group by domain. Does not respect Whitelist. Respects Blacklist.
$config['wdg_sql_mode'] = 4;

//Whitelist, If NULL then Whitelist is disabled, if Array containing strings then only the domains contained will get displayed. Not Implemented Yet.
//If using Mode:0 then the KEY of each Entry will be the Individual Name of each Address Book. E.g. array('name' => 'domain.com');
$config['wdg_sql_whitelist'] = NULL;

//Blacklist, if NULL then Blacklist is disabled, if Array containing strings then domains contained will not be displayed. Whitelist > Blacklist. Not Implemented Yet.
$config['wdg_sql_blacklist'] = NULL;